{% extends 'base2.html' %}


{% block content %}
<style>
    
    .approved {
        color: green;

    }
    
    .not-approved {
        color: red;

    }
    </style>

<div class="container">

    <h1>Kyc status</h1>

    
    <div class="{% if Approve == 'Approved' %}approved{% else %}not-approved{% endif %}">
        {% if Approve == 'Approved' %}
        <h3>Approved Successfully</h3>
        {% elif Approve == 'Resubmit' %}
        <h3>Resubmit Successfully</h3>
        {% else %}
        <h3>Resubmit Successfully</h3>

        {% endif %}
        

    </div>

    <a href="javascript:history.back()" class="btn btn-primary mt-3">Go Back</a>
    


</div>



{% endblock content %}