{% extends 'base2.html' %}


{% block content %}

<div class="container">
<br>

<h1>KYC Approvals</h1>
<br>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">ID</th>

        </tr>
        </thead>
        <tbody>


                {% for kyc in kyc_lists %}
                <tr>
         
                    <td>{{ kyc.full_name }}</td>

                    <td><a href="{% url 'kyclist' kyc.id %}">View</a></td>
   
                    {% empty %}
                    <h3>No Kyc Approvals</h3>
                    {% endfor %}
                </tr>
                     
                
        </tbody>
    </table>


</div>



{% endblock content %}