{% extends 'base/base2.html' %}


{% block content %}

<div class="container">
<br>

<h1>Announcement Visible Settings</h1>
<br>


<a href="{% url 'annmarkcreate' %}">Create</a>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Announcement Visible Subject</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>


            {% for annmarklist in annmarklists %}
                <tr>
         
                    <td>{{annmarklist.announc}}</td>
                    <td><a href="{% url 'annmarkdetail' annmarklist.id %}">View</a>
                    <a href="{% url 'annmarkupdate' annmarklist.id %}">Update</a></td>

                    
                        
   
                    {% empty %}
                    <h3>No </h3>
                    {% endfor %}
                </tr>
                     
                
        </tbody>
    </table>
    



</div>



{% endblock content %}